<h2><%= @band.name() %></h2>

  <form class="form-inline" action="/band/<%= @band.id() %>" method="post">
    <input type="hidden" name="band_id" value="<%= @band.id() %>">
    <input type="hidden" name="_method" value="patch">
    <div class="input-group">
      <input type="text" name="band" id="band" class="form-control" placeholder="Band Name">
      <span class="input-group-btn">
      <button type="submit" class="btn btn-default">Update</button>
    </div>
  </form>
  <form id="form_id" class="form-inline" action="/bands" method="post">
    <input type="hidden" name="band_id" value="<%= @band.id() %>">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-default">Delete Band</button>
  </form>

<h2>Venues Played</h2>

<form id="venue" class="form-inline" action="/band/<%= @band.id() %>" method="post">
  <div>
    <div class="input-group">
      <input type="hidden" name="band_id" id="band_id" value="<% @band.id() %>">
      <input type="text" name="venue" id="venue" class="form-control" placeholder="Venue Name">
      <span class="input-group-btn">
      <button name="submit" class="btn btn-default">Add</button>
    </div>
  </div>
</form>

<% if @band.venues.any?() %>

  <ul>
    <% @band.venues.each() do |band_venue| %>
    <li><%= band_venue.name() %></li>
    <% end %>
  </ul>

<% else %>

  <p> Please add venues. </p>

<% end %>
